<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Recomendador de Películas</title>
  </head>
  <body>
    <h1>Recomendador de Películas</h1>
    <form id="movieForm">
      <label for="movieTitle">Título de la película:</label>
      <input type="text" id="movieTitle" name="movieTitle" required />
      <button type="submit">Obtener Recomendaciones</button>
    </form>
    <ul id="recommendationsList"></ul>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("movieForm");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          const movieTitle = document.getElementById("movieTitle").value;
          fetch("/recommend", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({
              movie: movieTitle,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              // Maneja la respuesta aquí (muestra las recomendaciones en la página)
              console.log(data);
              const recommendationsList = document.getElementById(
                "recommendationsList"
              );
              recommendationsList.innerHTML = "";
              if (data.recommendations) {
                data.recommendations.forEach(([movie, distance]) => {
                  const listItem = document.createElement("li");
                  listItem.textContent = `${movie} (Distancia: ${distance.toFixed(
                    2
                  )})`;
                  recommendationsList.appendChild(listItem);
                });
              } else {
                const errorItem = document.createElement("li");
                errorItem.textContent = data.error;
                recommendationsList.appendChild(errorItem);
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });
    </script>
  </body>
</html>
