<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommendations</title>
  </head>
  <body>
    <h1>Movie Recommendations</h1>
    <form id="movieForm">
      <input type="text" id="movieTitle" placeholder="Enter movie title" />
      <button type="submit">Get Recommendations</button>
    </form>
    <div id="recommendations"></div>

    <script>
      document
        .getElementById("movieForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const title = document.getElementById("movieTitle").value;

          fetch(`/recommend?title=${title}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                document.getElementById("recommendations").innerText =
                  data.error;
              } else {
                const recommendations = data.recommendations
                  .map((movie) => movie[0])
                  .join("<br>");
                document.getElementById(
                  "recommendations"
                ).innerHTML = `Recommended Movies:<br>${recommendations}`;
              }
            })
            .catch((error) => {
              document.getElementById("recommendations").innerText =
                "An error occurred.";
            });
        });
    </script>
  </body>
</html>
